body{
	background-color: #848484;
}
div{
	margin: auto;
	width: 210px;
    border: 3px solid black;
	border-radius: 10px;
    padding: 10px;
	color:#0B0B61;
	background-color: lightblue;
	font-family: Calibri;
}
form {
    width: 400px;
    font: normal bold 12px Verdana, Arial;
}

form label {
    display:block;
    width: 150px;
}

form input {
    display:block;
    width: 200px;
    margin-bottom: 10px;
	border-radius: 10px;
	border: 2px solid black;
}
.error{
	color:#FF0000;
	
}